* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style:none;
  color:#000902;
  background: #278e18;
  box-sizing: border-box;
  padding: 10px 20px 10px 10px;
  margin: 30px 0 0 -1em;
}

header h1 {
  font-size: 40px;
  color:#000902;
  background: #8ef27f;
  box-sizing: border-box;
  padding: 10px 20px 10px 10px;
  margin: 10px 20px 10px 0;
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style:none;
}

header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 24px;
}

header a {
  text-decoration: underline;
  color:#000902;
}

/* HERO STYLES START */
.hero {
  background-image: url('../images/matrix-bg.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: right;
}

.catch-phrase h2 {
  font-size: 40px;
  color:#f6fcf7;
  background: #278e18;
  padding: 20px 30px 20px 30px;
}

