* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

main {
  display: flex;
  /* Forces elements to the next line if they don't fit */
  flex-wrap: wrap;
  margin-top: 2%;
}

.main-header {
  display: flex;
  /* Forces elements to the next line if they don't fit */
  font-family:Georgia, 'Times New Roman', Times, sans-serif;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 30px 15px;
  background: #73a9d8;
 
}

header h1 {
  font-size: 40px;
  color:#140ded;
  background: #6fd5f7;
  box-sizing: border-box;
  padding: 10px 20px 10px 10px;
  margin: 10px 20px 10px -1em;

}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style:none;
}

header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 24px;
}

header a {
  text-decoration: underline;
  color: #0a6326;
}

/* HERO STYLES START */
.hero {
  background-image: url('../images/hero-bg.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  height: 200px;
}

.hero h2 {
  font-size: 40px;
  color:#140ded;
  background: #6fd5f7;
  box-sizing: border-box;
  padding: 10px 10px 10px 10px;
  margin: 30px 100px 30px 800px;
}

/* ABOUT ME STYLES START */
.section-title div p {
  display: inline-block;
  padding: 0 100px 20px 100px;
  border-bottom: 3px solid;
  margin-bottom: 35px;
}

.bio { 
  text-align: center;
  background: #d2e1f5;
  
}

.bio div {
  margin-bottom: 80px;
}

.bio img {
  width: 15%;
  margin: 10px 0;
  float:left
} 

.bio h2 {
  color: #1d0551;
  font-size: 36px;
  margin-top: 10px;
}

.bio article p {
  color: #1d0551;
  font-size: 23px;
  position: relative;
  margin: 30px 30px 30px 800px;
  text-align: justify;
  
   

}
/* WHAT YOU DO STYLES END */

.card {
  flex: 1 0 0;
  padding: 10px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
}

.card header {
  padding: 20px;
  background: #13293d;
  color: #fff;
}

.card img {
  width: 100%;
  min-width: 400px;
}
